{{{header}}}
<div id="search-base" class="col-md-12">
	<div id="search-area"  class="col-md-10 col-md-offset-1 clearfix">
		<input class="search-input form-control input-sm" type="text" name="FIRST" placeholder="First"></input>
		<input class="search-input form-control input-sm" type="text" name="LAST" placeholder="Last"></input>
		<input class="search-input form-control input-sm" type="text" name="CHAPTER" placeholder="Chapter"></input>
		<input class="search-input form-control input-sm" type="text" name="INITIATED" placeholder="Initiated"></input>
		<input class="search-input form-control input-sm" type="text" name="FATHER" placeholder="Father"></input>
		<input class="search-input form-control input-sm" type="text" name="STATUS" placeholder="Status"></input>
		<input class="search-input form-control input-sm" type="text" name="GRADUATED" placeholder="Graduated"></input>
		<input class="search-input form-control input-sm" type="text" name="STATE" placeholder="State"></input>
		<input class="search-input form-control input-sm" type="text" name="COMPANY" placeholder="Company"></input>
	</div>
</div>
<div id="back-base" class="col-md-10 col-md-offset-1 base"></div>
<div id="result-base" class="col-md-10 col-md-offset-1 base">
	<div id="result-area" class="col-md-12 clearfix">
		{{> results}}
	</div>
</div>
<script>
	var searchRequest;
	var searchInputs;

	$(document).ready(function(){
		setAllWidths();
		setLoadMore();
		$(window).resize(setAllWidths);
		searchInputs = $("input");
		for(var i=0; i<searchInputs.length; i++)
			searchInputs[i] = $(searchInputs[i]);
		$("input").keyup(function(event){
			console.log("changed!");
			if(searchRequest)
				searchRequest.abort()
			var searchUrl = "/search?"
			for(var i=0; i<searchInputs.length; i++)
				if(searchInputs[i].val())
					searchUrl += searchInputs[i].attr("name") + "=" + searchInputs[i].val() + "&"; 
			searchRequest = $.get(searchUrl, function(data){
				$("#result-area").html(data)
                                $("#load-more-container").remove();
				setAllWidths();
                                setLoadMore();
			});
		});
	});

	function loadMember(uri){
		window.location = uri;
	}
</script>
