<div id="search-base" class="col-md-12">
	<div id="search-area"  class="col-md-10 col-md-offset-1 clearfix">
</div>
</div>
<div id="back-base" class="col-md-10 col-md-offset-1 base"></div>
<div class="col-md-10 col-md-offset-1 base member-base">
<h1>Thank you for you submission.</h1>
<h4>An admin will approve/reject your change soon.</h4>
</div>