[Unit]
Description=Alumni Search Daemon
Type=forking
After=network.target

[Service]
ExecStart=/usr/bin/node /home/admin/khk-alumni-db/asdb.js
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

